[Unit]
Description=GlusterFS in a Container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
User=claudio
Group=claudio
EnvironmentFile=/etc/env
ExecStartPre=-/usr/bin/docker rm -f gluster
ExecStartPre=-/usr/bin/docker pull gluster/gluster-centos:latest
ExecStart=/usr/bin/docker run \
    -v /etc/glusterfs:/etc/glusterfs:z \
    -v /var/lib/glusterd:/var/lib/glusterd:z \
    -v /var/log/glusterfs:/var/log/glusterfs:z \
    -v /sys/fs/cgroup:/sys/fs/cgroup:ro \
    -v /dev/:/dev \
    -v /gluster:/gluster \
    --privileged=true \
    --net=host \
    --name gluster \
    gluster/gluster-centos:latest
ExecStop=/usr/bin/docker stop gluster

[Install]
WantedBy=multi-user.target

